{:paths ["dev" "notebooks" "resources"]
 :deps {io.github.nextjournal/clerk     {:git/sha "01d8ecce5d5d6c4a6ce94b0e0138c4b79bd219ff"}
        ;; io.github.nextjournal/clerk-slideshow {:git/sha "ea9b27e5ec2e5ad57e889060521451ed9138325b"}

        org.clojure/math.combinatorics  {:mvn/version "0.1.6"}

        ;; we use SICMUtils for symbolic computation:
        sicmutils/sicmutils             {:mvn/version "0.22.0"}

        org.babashka/cli                {:mvn/version "0.7.52"}}

 :aliases
 {:nextjournal/clerk {:exec-fn   nextjournal.clerk/build!
                      :exec-args {:paths ["notebooks/*.clj"]
                                  :git/url "https://github.com/a1exsh/notes"}
                      ;; TODO: add all notebooks you want to have built ☝️
                      ;; if you just want to build one notebook, set `:index`

                      ;; optional list of aliases to include in the build
                      ;; :nextjournal.clerk/aliases [:dev]
                      :main-opts ["-m" "babashka.cli.exec"]}}}
